.title {
  color: rgb(191, 208, 224);
  height: 80px;
  text-align: center;
  line-height: 80px;
  background-color: rgb(80, 76, 219);
}

.wrpper {
  color: dimgray;
}

.first_title {
  list-style: none;
  border: 2px solid whitesmoke;
  padding: 0 15px;
  margin: 15px;
  background-color: white;
  border-radius: 5px;
  width: 300px;
}

.second_title {
  clear: both;
}

h6 {
  height: 5px;
}

h5 {
  font-size: 25px;
}


p {
  font-size: 20px;
}

.TabSpace {
  margin-left: 20px;
}

.WTabSpace {
  margin-left: 40px;
}


.word {
  padding: 5px 20px;
  width: 400px;
  clear: both;
  color: black;
}

.expanation, .howtouse {
  width: 100px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  float: left;
  margin-left: 30px;
  font-weight: bolder;
}

.exp_text, .htu_text {
  float: left;
  line-height: 20px;
  padding-left: 5px;
}

.clear {
  clear: both;
}

main {
  background-color: antiquewhite;
  padding-bottom: 10px;
}  

.wrpper {
  padding: 10px 40px;
}
