header {
  height: 80px;
  width: 100%;
  background-color: rgb(80, 76, 219);
  line-height: 80px;
}

.title, .prgtitle {
  color: rgb(191, 208, 224);
}

.title {
  text-align: center;
}

.prgtitle {
  float: left;
  height: 80px;
  line-height: 80px;
  margin: 0 1em;
  padding: 0;
}

.rightTitle {
  float: right;
  margin: 0 1em;
  padding: 0;
}

.wrpper {
  color: dimgray;
}


/* .fcontainer {
  position: relative;
  
} */

.first_title, .first_title1 {
  /* position: absolute;
  top: 50%;
  transform: translateY(-50%); */
  font-size: 25px;
  color: dimgray;
  font-weight: 900;
  text-decoration: none;
  padding: 0 30px;
  list-style: none;
}

.first_title1 {
  float: left;
}

.btn {
  border: 2px solid gray;
  width: 300px;
  height: 250px;
  background-color: lightgray;
  margin: 15px;
  border-radius: 5px;
  display: block;
  opacity: 0.8;
}

.btn1 {
  border: 2px solid gray;
  width: 100px;
  height: 100px;
  background-color: lightgray;
  margin: 15px;
  border-radius: 5px;
  display: block;
  float: right;
  opacity: 0.8;
}



.second_title {
  clear: both;
}

.btn:hover, .btn1:hover {
  opacity: 1;
}

.btn:active, .btn1:active {
  position: relative;
  top: 6px;
}




h4 {
  font-size: 25px;
  line-height: 2;
  color: black;
  margin-bottom: 0;
  /* background-color: red; */
}


p {
  font-size: 20px;
}

.TabSpace {
  margin-left: 20px;
}

.WTabSpace {
  margin-left: 40px;
}


.word {
  padding-left: 20px;
  /* margin-bottom: 0; */
  /* padding-bottom: 0; */
  width: 400px;
  clear: both;
  /* background-color: green; */
  /* border-spacing: 0; */
}

.expanation, .howtouse {
  width: 100px;
  /* height: 20px; */
  /* line-height: 20px; */
  text-align: center;
  float: left;
  margin-left: 30px;
  font-weight: bolder;
  /* background-color: blue; */
}

.exp_text, .htu_text {
  float: left;
  line-height: 20px;
  padding-left: 5px;
}

/* .clear {
  clear: both;
} */

main {
  background-color: antiquewhite;
  padding-bottom: 10px;
}  

.wrpper {
  padding: 20px 40px;
}


table {
  width: 95%;
  border-spacing: 0;
  padding: 0 20px;
  margin: 0 30px;
  border-collapse: collapse;
}

th, td {
  border: solid 1px black;
}

.upTheme, .mTheme, .lastTheme {
  width: 15%;
  background-color: rgb(189, 205, 226);
}

.inbox {
  border: solid 1px black;
  float: right;
  padding: 15px;
}

.uptd, .mtd, .ltd {
  width: 85%;
  padding: 15px;
}


/* 行動の記録の表 */

.actTitle {
  width: 16.7%;
  background-color: rgb(189, 205, 226);
}

.hTitle {
  width: 1.8em;
}

.red {
  color: red;
}